* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: large;
  height: 100%;
  display: grid;
  place-items: center;
}

#difficulty-switcher {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.tile {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.tile.selected {
  border: 2px solid black;
}

.tile.fixed {
  cursor: initial;
}

.tile.fixed::before {
  content: "•";
}

#end-screen {
  padding: 15px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: large;
  min-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
